@charset "utf-8";
/* 서브공통 */
#container {
  padding: 40px 0 58px;
}
.sub_wrap .sub_tit {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  background: url(../img/sub/sub_bg01.png) no-repeat center center;
  background-size: cover !important;
  position: relative;
  animation: scale 1.5s alternate forwards;
}
@keyframes scale {
  0% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}
.sub_wrap .sub_tit h2 {
  position: relative;
  z-index: 11;
}
.sub_wrap .sub_tit::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.sub_container {
  max-width: 1500px;
  width: calc(100% - 40px);
  margin: 80px auto 0;
}
.sub_container.no_pd {
  max-width: 100%;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  #container {
    padding: 30px 0 58px;
  }
}
@media screen and (max-width: 768px) { 
  #container {
    padding: 60px 0 80px;
  }
  .sub_container {
    margin: 60px auto 0;
  }
  .sub_wrap .sub_tit {
    font-size: 25px;
    min-height: 150px;
  }
}
/* 숙소 */
.hotel_wrap{
  max-width: 1200px;
  margin: 0 auto;
}
.hotel_wrap > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px 25px;
}
/* .hotel_wrap > ul li {
  border: 1px solid var(--bd_color);
} */
.hotel_wrap > ul li {
  display: flex;
  gap: 25px;
  position: relative;
}
.hotel_wrap > ul li:not(:last-of-type){
  border-bottom: 1px solid var(--bd_color);
  padding-bottom: 40px;
}
.hotel_wrap > ul li .go_site{
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 10px 15px;
  color: #fff;
  background: var(--k-color);
  border-radius: 10px;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.hotel_wrap > ul li .go_site:hover{
  background: rgb(0 137 157);
}
.hotel_wrap > ul li .hotel_img {
  max-width: 350px;
  aspect-ratio: 100 / 70;
  flex: 1;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.hotel_wrap > ul li .hotel_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hotel_wrap > ul li .txtBox{
  flex: 1;
  margin-top: 15px;
  padding-bottom: 55px;
}
.hotel_wrap > ul li .hotel_name {
  /* padding: 20px; */
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  flex: 1;
  margin-bottom: 15px;
}
.hotel_wrap > ul li .txtBox .sub_info{
  font-size: 1.5rem;
  line-height: 22px;
}
.hotel_wrap > ul li .txtBox .sub_info p{
  display: flex;
  gap: 5px;
}
.hotel_wrap > ul li .txtBox .sub_info strong{
  font-weight: 500;
  flex-shrink: 0;
}
.hotel_wrap > ul li .txtBox .sub_info p + p{
  margin-top: 10px;
}
.common_inform{
  font-size: 1.5rem;
  background: #f3f3f3;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.common_inform::before{
  content: '!';
  width: 22px;
  height: 22px;
  background: rgb(0 137 157);;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  line-height: 20px;
  margin-right: 7px;
}

.common_pop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  inset: 0;
  z-index: 1005;
}
.common_pop .pop_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  width: calc(100% - 40px);
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 40px;
  max-height: calc(100dvh - 80px);
}
.common_pop .pop_inner .tit_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  padding: 0 20px 0 30px;
  background: var(--k-color);
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}
.common_pop .pop_inner .tit_wrap button {
  width: 30px;
  height: 30px;
  font-weight: 600;
  color: #fff;
  background: url(../img/sub/ico_close.png) no-repeat center;
}
.common_pop .pop_inner .con_wrap {
  padding: 40px 30px 0;
}
.hotel_pop {
  display: flex;
  gap: 40px;
}
.hotel_pop .in_img {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hotel_pop .in_img .main_img {
  aspect-ratio: 2 / 1;
  overflow: hidden;
}
.hotel_pop .in_img .main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hotel_pop .in_img .img_list {
  display: flex;
  gap: 15px;
}
.hotel_pop .in_img .img_list > li {
  flex: 1;
}
.hotel_pop .in_img .img_list > li button {
  width: 100%;
  height: 100%;
  max-height: 105px;
}
.hotel_pop .in_img .img_list > li button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.common_pop .pop_inner .btn_wrap {
  text-align: center;
  margin: 30px auto 0;
}
.common_pop .pop_inner .btn_wrap button {
  min-width: 120px;
  line-height: 40px;
  background: var(--k-color);
  color: #fff;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .common_inform{
    padding: 8px 12px;
    font-size: 1.4rem;
  }
  .common_inform::before {
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding-right: 1px;
  }
  .hotel_wrap > ul {
    gap: 35px;
  }
  .hotel_wrap > ul li{
    flex-direction: column;
    align-items: center;
  }
  .hotel_wrap > ul li:not(:last-of-type){
    padding-bottom: 35px;
  }
  .hotel_wrap > ul li .txtBox {
    flex: inherit;
    margin-top: 0;
    padding-bottom: 45px;
    width: 100%;
  }
  .hotel_wrap > ul li .hotel_name{
    margin-bottom: 10px;
  }
  .hotel_wrap > ul li .go_site{
    font-size: 1.4rem;
      padding: 7px 12px;
      bottom: 35px;
  }
  .hotel_wrap > ul li .hotel_img {
    max-width: 450px;
  }
  .common_pop .pop_inner .con_wrap {
    max-height: calc(100vh - 235px);
    overflow-y: auto;
    padding: 20px;
  }
  .common_pop .pop_inner .btn_wrap {
    margin: 20px auto 0;
  }
  .hotel_pop {
    flex-direction: column;
    gap: 30px;
  }
  .hotel_pop .in_img .img_list {
    gap: 8px;
  }
  .hotel_pop .in_img .img_list > li button{
    max-height: 90px;
  }
  
}

/* 맛집 */
.restaurant_wrap .inner_wrap > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px 45px;
}
.restaurant_wrap .inner_wrap > ul > li .res_box {
  height: 100%;
  display: flex;
  text-align: left;
  gap: 25px;
}
.restaurant_wrap .inner_wrap > ul > li {
  max-height: max-content;
  /* border: 1px solid var(--bd_color); */
  /* border-radius: 10px;
  overflow: hidden; */
}
.restaurant_wrap .inner_wrap > ul > li .reco_ck_btn {
  width: 100%;
  height: 100%;
  position: relative;
}
/* .restaurant_wrap .inner_wrap > ul > li .reco_ck_btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.3s;
} */
/* .restaurant_wrap .inner_wrap > ul > li .reco_ck_btn:hover:before {
  border-color: var(--k-color);
} */
.restaurant_wrap .inner_wrap > ul > li .res_box .img_wrap {
  max-width: 300px;
  width: 100%;
  aspect-ratio: 10 / 7;
  min-width: 0;
  border-radius: 10px;
  overflow: hidden;
}
.restaurant_wrap .inner_wrap > ul > li .res_box .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.restaurant_wrap .inner_wrap > ul > li:hover .res_box .img_wrap img{
  transform: scale(1.1);
}
.restaurant_wrap .inner_wrap > ul > li .res_box .inform_wrap {
  margin-top: 5px;
}
.restaurant_wrap .inner_wrap > ul > li .res_box .inform_wrap li {
  display: flex;
  gap: 5px;
  line-height: 22px;
  font-size: 1.5rem;
}
.restaurant_wrap .inner_wrap > ul > li .res_box .inform_wrap li + li {
  margin-top: 10px;
}
.restaurant_wrap .inner_wrap > ul > li .res_box .inform_wrap li span {
  flex-shrink: 0;
  font-weight: 500;
}
.res_pop .map p {
  background: #eaeaea;
  width: 100%;
  line-height: 45px;
  font-size: 1.6rem;
  padding: 0 20px;
  border-radius: 10px 10px 0 0;
}
.res_pop .map iframe {
  width: 100%;
  min-height: 300px;
  border: none;
  margin-top: 15pxx;
}
@media screen and (max-width: 1024px) {
  .restaurant_wrap .inner_wrap > ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .restaurant_wrap .inner_wrap > ul {
    gap: 25px;
  }
  .restaurant_wrap .inner_wrap > ul > li .res_box .img_wrap {
    max-width: 240px;
  }
  .restaurant_wrap .inner_wrap > ul > li .res_box .inform_wrap li + li {
    margin-top: 5px;
  }
}
@media screen and (max-width: 500px) {
  .restaurant_wrap .inner_wrap > ul > li .res_box {
    flex-direction: column;
    gap: 15px;
  }
  .restaurant_wrap .inner_wrap > ul > li .res_box .img_wrap {
    max-width: 100%;
    max-height: 200px;
  }
  .restaurant_wrap .inner_wrap > ul > li .res_box .inform_wrap {
    margin-top: 0;
  }
}

/* 날씨 */
.weather_wrap {
  text-align: center;
}
.weather_wrap .t_txt {
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: -50px;
}
.weather_wrap .weather_inner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 7%;
  max-width: 1200px;
}
.weather_wrap .weather_inner .left_wrap {
  background: url(../img/sub/img_phone.png) no-repeat center center;
  background-size: 327px;
    width: 100%;
    min-width: 327px;
    height: 690px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  position: relative;
}
.weather_wrap .weather_inner .left_wrap:after{
    content: "";
    position: absolute;
    max-width: 327px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: #fff; 
}
.weather_wrap .weather_inner .left_wrap:before {
  content: "";
  position: absolute;
      width: 100%;
      aspect-ratio:  1 / 1;
  background: var(--k-color);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.1;
}
.weather_wrap .weather_inner .weather_icon {
    display: inline-block;
  position: relative;
  padding-right: 60px;
}
.weather_wrap .weather_inner .weather_icon .w_txt {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 38px;
  font-weight: 500;
}
.weather_wrap .weather_inner .current{
  font-size: 1.6rem;
}
.weather_wrap .weather_inner .weather_txt {
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 15px;
  font-size: 1.6rem;
}
.weather_wrap .weather_inner .weather_txt p:first-of-type::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background: var(--bd_color);
  margin: 0 10px -1px;
}
.weather_wrap .weather_inner h3 {
  font-size: 2.8rem;
  color: var(--k-color);
}
.weather_wrap .weather_inner .right_wrap {
  text-align: left;
  padding-top: 10%;
}
.weather_wrap .weather_inner .right_wrap .text_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.7;
}
.weather_wrap .weather_inner .right_wrap p {
  font-size: 1.8rem;
  letter-spacing: -0.04em;
}
.weather_wrap .weather_inner .right_wrap p span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--k-color2)
}

@media screen and (max-width: 1024px) {
  .weather_wrap .weather_inner {
    gap: 60px;
  }
}

@media screen and (max-width: 768px) {
  .weather_wrap .weather_inner {
    margin: 35px auto 0;
    flex-direction: column;
    align-items: center;
  }
  .weather_wrap .weather_inner .left_wrap:before{
    width: 100%;
    max-width: 600px;
  }
  .weather_wrap .t_txt {
    font-size: 2.2rem;
  }
  .weather_wrap .weather_inner .weather_txt {
    font-size: 1.6rem;
    margin-bottom: -3px;
  }
  .weather_wrap .weather_inner .weather_icon .temp {
    font-size: 32px;
  }
  .weather_wrap .weather_inner .right_wrap{
    padding-top: 0;
  }
  .weather_wrap .weather_inner .left_wrap {
    background-size: 287px;
    min-width: 287px;
    height: 605px;
  }
  .weather_wrap .weather_inner .left_wrap:after {
    max-width: 287px;
  }
  .weather_wrap .weather_inner h3 {
    font-size: 2.2rem;
  }
  .weather_wrap .weather_inner .weather_icon{
    max-width: 160px;
    padding-right: 55px;
  }
  .weather_wrap .weather_inner .right_wrap p {
      font-size: 1.6rem;
  }
  .weather_wrap .weather_inner .right_wrap p span {
    font-size: 1.8rem;
  }
}


/* 환율 */
.exchange_wrap {
  background: #f3f3f3;
  text-align: center;
  padding: 80px 20px 150px;
  margin-bottom: -120px;
}
.exchange_wrap .t_txt {
  font-size: 2.8rem;
  font-weight: 500;
}
.exchange_wrap .calc_wrap {
  margin: 50px auto 0;
  background: #fff;
  max-width: 500px;
  border-radius: 15px;
  padding: 40px;
}
.exchange_wrap .calc_wrap .mark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.exchange_wrap .calc_wrap .mark .box {
  position: absolute;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.8rem;
  font-weight: 500;
}
.exchange_wrap .calc_wrap .mark img {
  max-width: 50px;
  position: absolute;
  left: 10px;
}
.exchange_wrap .calc_wrap > p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.exchange_wrap .calc_wrap input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--bd_color);
  height: 50px;
  padding: 0 15px;
  font-size: 2rem;
  text-align: right;
  letter-spacing: -0.02em;
}
.exchange_wrap .calc_wrap input:focus {
  outline: none;
  border-bottom: 1px solid var(--k-color);
}
.exchange_wrap .calc_wrap .change_btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--k-color) url(../img/sub/ico_exchange.png) no-repeat center
    center;
  transform: rotate(90deg);
  font-size: 0;
  color: transparent;
}
.exchange_wrap .calc_wrap .btn {
  margin: 35px auto;
}
.exchange_wrap .calc_wrap .mark span {
  font-size: 1.8rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .exchange_wrap {
    padding: 60px 20px 80px;
    margin-bottom: -80px;
  }
  .exchange_wrap .calc_wrap {
    margin: 35px auto 0;
    padding: 20px;
  }
  .exchange_wrap .t_txt {
    font-size: 2.2rem;
  }
  .exchange_wrap .calc_wrap .btn {
    margin: 25px auto;
  }
  .exchange_wrap .calc_wrap .change_btn {
    width: 35px;
    height: 35px;
    background-size: 22px;
  }
  .exchange_wrap .calc_wrap .mark img {
    max-width: 40px;
  }
}
